{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
    {% block content %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
    <form action="{% url 'login_user' %}" method="POST">
{% csrf_token %}
    <input type="text" name="email" placeholder="Username or Email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Login">
   </form>
    {% endblock %}
</body>
</html>